*.xcworkspace/xcuserdata/
xcuserdata/
.DS_Store
*.pkg
ignore
update_files
build
Nightly\ Build
PPL-Font/pplfont.xcodeproj/project.xcworkspace/xcuserdata/richie.xcuserdatad/UserInterfaceState.xcuserstate
PPL-Plus/ppl+.xcodeproj/project.xcworkspace/xcuserdata/richie.xcuserdatad/UserInterfaceState.xcuserstate
