GROB/*.xcworkspace/xcuserdata/
PPL\+/*.xcworkspace/xcuserdata/
PPL-Minifier/*.xcworkspace/xcuserdata/
PPL-Font/*.xcworkspace/xcuserdata/
PPL-Reformat/*.xcworkspace/xcuserdata/
hpprgm/*.xcworkspace/xcuserdata/
.DS_Store
*.pkg
ignore
version_code.sh
update_files
build
Nightly\ Build
Package\ Installer/package-root/Applications/HP/PrimeSDK/bin/*
