<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xprime</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>24</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB5FB049D7D36FC83B173CDFD7D5E8AF85C4FC49</string>
				<key>dateExpires</key>
				<string>01/02/2027</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Xprime.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8XN79M4JCJ</string>
				<key>name</key>
				<string>Richard Hughes</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1</string>
		</dict>
	</array>
</dict>
</plist>
